.idea
*.iml

#backend

/backend/HELP.md
/backend/target/
/backend/.mvn/wrapper/maven-wrapper.jar
/backend/!**/src/main/**/target/
/backend/!**/src/test/**/target/
/backend/mvnw
/backend/mvnw.cmd

#frondend
/frontend/node_modules
/frontenddist
/frontenddist-ssr
/frontend*.local

/backend/.mvn
